:root {
  --main: #605DEC;
  --white: #FFFFFF;
  --focused: #F845FC;
  --border: #E4E4EF;
  --primary: #1A1A1A;
  --secondary: #808080;
  --disabled: #F4F3FE;
  --red: #F93232;
  --orange: #E99518;
  --green: #E99518;
  --grey: #BDBCDB;
  --bg-red: #FFF0F0;
  --bg-orange: #FFF4E4;
  --bg-green: #EBF6EB;
  --bg-grey: #F8F9FB;
  --bg-violet: #EDEDFE;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
